PetSitting.Api/obj/project.nuget.cache
PetSitting.Api/obj/project.nuget.cache
PetSitting.Api/obj/Debug/net8.0/PetSitting.Api.AssemblyInfoInputs.cache
PetSitting.Api/obj/Debug/net8.0/PetSitting.Api.csproj.AssemblyReference.cache
PetSitting.Application/obj/project.nuget.cache
PetSitting.Application/obj/Debug/net8.0/PetSitting.Application.csproj.AssemblyReference.cache
PetSitting.Application/obj/Debug/net8.0/PetSitting.Application.AssemblyInfoInputs.cache
PetSitting.Domain/bin/Debug/net8.0/PetSitting.Domain.dll
PetSitting.Domain/bin/Debug/net8.0/PetSitting.Domain.pdb
PetSitting.Domain/obj/Debug/net8.0/PetSitting.Domain.AssemblyInfoInputs.cache
PetSitting.Domain/obj/project.nuget.cache
PetSitting.Domain/obj/Debug/net8.0/PetSitting.Domain.assets.cache
PetSitting.Domain/obj/Debug/net8.0/PetSitting.Domain.csproj.AssemblyReference.cache
PetSitting.Domain/obj/Debug/net8.0/PetSitting.Domain.csproj.CoreCompileInputs.cache
PetSitting.Domain/obj/Debug/net8.0/PetSitting.Domain.dll
PetSitting.Domain/obj/Debug/net8.0/PetSitting.Domain.pdb
PetSitting.Domain/obj/Debug/net8.0/ref/PetSitting.Domain.dll
PetSitting.Domain/obj/Debug/net8.0/refint/PetSitting.Domain.dll
PetSitting.Infrastructure/obj/project.nuget.cache
PetSitting.Infrastructure/obj/Debug/net8.0/PetSitting.Infrastructure.AssemblyInfoInputs.cache
PetSitting.Infrastructure/obj/Debug/net8.0/PetSitting.Infrastructure.csproj.AssemblyReference.cache
