PetSitting.Api/obj/project.nuget.cache
PetSitting.Api/obj/project.nuget.cache
PetSitting.Api/obj/Debug/net8.0/PetSitting.Api.AssemblyInfoInputs.cache
PetSitting.Api/obj/Debug/net8.0/PetSitting.Api.csproj.AssemblyReference.cache
PetSitting.Application/obj/project.nuget.cache
PetSitting.Application/obj/Debug/net8.0/PetSitting.Application.csproj.AssemblyReference.cache
PetSitting.Application/obj/Debug/net8.0/PetSitting.Application.AssemblyInfoInputs.cache
PetSitting.Domain/bin/Debug/net8.0/PetSitting.Domain.dll
PetSitting.Domain/bin/Debug/net8.0/PetSitting.Domain.pdb
PetSitting.Domain/obj/Debug/net8.0/PetSitting.Domain.AssemblyInfoInputs.cache
PetSitting.Domain/obj/project.nuget.cache
PetSitting.Domain/obj/Debug/net8.0/PetSitting.Domain.assets.cache
PetSitting.Domain/obj/Debug/net8.0/PetSitting.Domain.csproj.AssemblyReference.cache
PetSitting.Domain/obj/Debug/net8.0/PetSitting.Domain.csproj.CoreCompileInputs.cache
PetSitting.Domain/obj/Debug/net8.0/PetSitting.Domain.dll
PetSitting.Domain/obj/Debug/net8.0/PetSitting.Domain.pdb
PetSitting.Domain/obj/Debug/net8.0/ref/PetSitting.Domain.dll
PetSitting.Domain/obj/Debug/net8.0/refint/PetSitting.Domain.dll
PetSitting.Infrastructure/obj/project.nuget.cache
PetSitting.Infrastructure/obj/Debug/net8.0/PetSitting.Infrastructure.AssemblyInfoInputs.cache
PetSitting.Infrastructure/obj/Debug/net8.0/PetSitting.Infrastructure.csproj.AssemblyReference.cache
PetSitting.Api/bin/Debug/net8.0/PetSitting.Api.dll
PetSitting.Api/bin/Debug/net8.0/PetSitting.Api.pdb
PetSitting.Api/bin/Debug/net8.0/PetSitting.Application.dll
PetSitting.Api/bin/Debug/net8.0/PetSitting.Application.pdb
PetSitting.Api/bin/Debug/net8.0/PetSitting.Domain.dll
PetSitting.Api/bin/Debug/net8.0/PetSitting.Infrastructure.dll
PetSitting.Api/bin/Debug/net8.0/PetSitting.Domain.pdb
PetSitting.Api/bin/Debug/net8.0/PetSitting.Infrastructure.pdb
PetSitting.Api/obj/Debug/net8.0/PetSitting.Api.AssemblyInfoInputs.cache
PetSitting.Api/obj/Debug/net8.0/PetSitting.Api.dll
PetSitting.Api/obj/Debug/net8.0/PetSitting.Api.csproj.AssemblyReference.cache
PetSitting.Api/obj/Debug/net8.0/PetSitting.Api.pdb
PetSitting.Api/obj/Debug/net8.0/ref/PetSitting.Api.dll
PetSitting.Api/obj/Debug/net8.0/refint/PetSitting.Api.dll
PetSitting.Application/bin/Debug/net8.0/PetSitting.Application.dll
PetSitting.Application/bin/Debug/net8.0/PetSitting.Application.pdb
PetSitting.Application/bin/Debug/net8.0/PetSitting.Domain.dll
PetSitting.Application/bin/Debug/net8.0/PetSitting.Domain.pdb
PetSitting.Application/obj/Debug/net8.0/PetSitting.Application.AssemblyInfoInputs.cache
PetSitting.Application/obj/Debug/net8.0/PetSitting.Application.csproj.AssemblyReference.cache
PetSitting.Application/obj/Debug/net8.0/PetSitting.Application.csproj.CoreCompileInputs.cache
PetSitting.Application/obj/Debug/net8.0/PetSitting.Application.dll
PetSitting.Application/obj/Debug/net8.0/PetSitting.Application.pdb
PetSitting.Application/obj/Debug/net8.0/ref/PetSitting.Application.dll
PetSitting.Application/obj/Debug/net8.0/refint/PetSitting.Application.dll
PetSitting.Domain/bin/Debug/net8.0/PetSitting.Domain.dll
PetSitting.Domain/bin/Debug/net8.0/PetSitting.Domain.pdb
PetSitting.Domain/obj/Debug/net8.0/PetSitting.Domain.AssemblyInfoInputs.cache
PetSitting.Domain/obj/Debug/net8.0/PetSitting.Domain.dll
PetSitting.Domain/obj/Debug/net8.0/PetSitting.Domain.pdb
PetSitting.Domain/obj/Debug/net8.0/ref/PetSitting.Domain.dll
PetSitting.Domain/obj/Debug/net8.0/refint/PetSitting.Domain.dll
PetSitting.Infrastructure/bin/Debug/net8.0/PetSitting.Application.dll
PetSitting.Infrastructure/bin/Debug/net8.0/PetSitting.Application.pdb
PetSitting.Infrastructure/bin/Debug/net8.0/PetSitting.Domain.dll
PetSitting.Infrastructure/bin/Debug/net8.0/PetSitting.Domain.pdb
PetSitting.Infrastructure/bin/Debug/net8.0/PetSitting.Infrastructure.dll
PetSitting.Infrastructure/bin/Debug/net8.0/PetSitting.Infrastructure.pdb
PetSitting.Infrastructure/obj/Debug/net8.0/PetSitting.Infrastructure.AssemblyInfoInputs.cache
PetSitting.Infrastructure/obj/Debug/net8.0/PetSitting.Infrastructure.csproj.AssemblyReference.cache
PetSitting.Infrastructure/obj/Debug/net8.0/PetSitting.Infrastructure.dll
PetSitting.Infrastructure/obj/Debug/net8.0/PetSitting.Infrastructure.pdb
PetSitting.Infrastructure/obj/Debug/net8.0/ref/PetSitting.Infrastructure.dll
PetSitting.Infrastructure/obj/Debug/net8.0/refint/PetSitting.Infrastructure.dll
# Ignore build artifacts
bin/
obj/
*.dll
*.exe
*.pdf
*.pdb
*.log
*.cache
*.so
*.dylib
*.swp
PetSitting.Api/bin/Debug/net8.0/
PetSitting.Api/appsettings.json
PetSitting.Api/appsettings.Development.json
PetSitting.Api/petsitting-development-firebase-adminsdk-fbsvc-c802b066a1.json
PetSitting.Infrastructure/Migrations/20250325161202_EntitiesUpdate.cs
PetSitting.Infrastructure/Migrations/20250325161202_EntitiesUpdate.Designer.cs
PetSitting.Infrastructure/Migrations/ApplicationDbContextModelSnapshot.cs
PetSitting.Application/obj/
PetSitting.Domain/obj/
PetSitting.Infrastructure/obj/
PetSitting.Api/obj/
PetSitting.Infrastructure/Migrations/
